.bloque_nav{
    display: flex;
    justify-content: space-around;
    background-color: #EDEDED;
}

.nombre_usuario{
    font-family: "Raleway", serif;
    font-weight: 400;
}

.nav{
    display: flex;
}

.nav-bar{
    display: flex;
    gap: 2rem;
    list-style: none;

}

a{
    text-decoration: none;
    color: #464646;
}

.text-black{
    color: black;
   
}

.correo{
    display: none;
}

@media (max-width: 430px) {

    .bloque_nav{
        justify-content: space-between;
    }
    .nav-bar{
        display: none;
    }

    .correo{
        display: block;
        margin: 20px 0px;
    }


}

